/* meo media Player *
 * v2.0.1 || LGPLv3 *
 * by haiderzia2002 */
video /* Prevent white bars next to <video>*/
{
	background: rgb(0, 0, 0);
}

audio /* Default <audio> controlbar width */
{
	width: 18em;
}

.meo /* Style container */
{
	display: table;
	font-size: 100%;
	margin: 0;
	padding: 0;
	position: relative;
}

.meo video, .meo audio /* Reset <video>/<audio> elements */
{
	display: block;
	outline: none;
}

.meo video ~ ul /* Position controlbar at bottom of <video> element */
{
	position: absolute;
	bottom: 0;
}

.meo audio ~ ul .fs /* Hide fullscreen button on <audio> elements */
{
	width: 0;
	margin: 0;
}

.meo ul /* Style background behind controls */
{
	font-family: "Helvetica Neue", "Helvetica", "Arial", "Roboto", "Droid Sans", "Liberation Sans", "Nimbus Sans L", "Nimbus Sans", sans-serif;
	margin: 0;
	padding: 0;
	height: 2em;
	width: 100%;
	list-style: none;
	background: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
	outline: none;
	display: inline-block;
}

.meo .hidec /* Hide controls */
{
    visibility: hidden;
}

.meo ul li /* Style controls */
{
	margin: 0.5em;
	padding: 0;
	height: 1em;
	width: 1em;
	background: url("controls.svg");
	float: left;
}

.meo .ctime, .meo .ttime /* Style current time and total time */
{
	width: auto;
	background: none;
	margin: 0 0.5em;
	line-height: 2em;
	height: 2em;
}

.meo .progr /* Style progress and loading bar, as well as time float (triangle) */
{
	margin: 0.6875em;
	height: 0.625em;
	background: rgb(200, 0, 0);
	position: relative;
}

.meo .progr * /* Position progress, loading bar and time float relative to time bar */
{
	height: 0.625em;
	position: absolute;
}

.meo .progr .progb /* Progress bar */
{
	background: rgb(255, 255, 255);
}

.meo .progr .progl /* Loading bar */
{
	background: rgb(255, 0, 0);
}

.meo .progr .ftime, .meo .progr .ftimt /* Hide time float and time float triangle */
{
	visibility: hidden;
}

.meo .progr .ftime /* Time float */
{
	padding: 0 0.25em;
	height: 1.25em;
	top: -1.9375em;
	background: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
}

.meo .progr .ftimt /* Time float triangle */
{
	width: 0;
	height: 0;
	border-left: 0.6875em solid transparent;
	border-right: 0.6875em solid transparent;
	border-top: 0.6875em solid #fff;
	top: -0.6875em;
}

.meofs, .meofs video /* Fullscreen */
{
	display: block;
	height: 100%;
	width: 100%;
	position: relative;
}

.nomed /* Fallback */
{
	background: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
	width: 18em;
	text-align: left;
	border: 0.0625em solid #fff;
}
